/* Global */

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    letter-spacing: .9px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    width: 100%;
    height: 80px;
    padding: 24px 0 25px;
    border-bottom: 1px solid #ECECEC;
    font-weight: 500;
    font-size: 14px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
}

.header-menu {
    display: flex;
    gap: 54px;
    margin-right: auto;
}

.header-logo img {
    height: 31px;
}

.header-menu a {
    color: #212121;
    text-decoration: none;
    letter-spacing: 0.2px;
}

.header-menu a:hover {
    color: #2196F3;
}

.header-menu a.active {
    color: #2196F3;
}

.header-contact {
    display: flex;
    gap: 50px;
}

.header-contact a {
    color: #757575;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.header-contact a:hover {
    color: #2196F3;
}

/* Hero */

.portfolio-nav {
    margin: 95px 0 47px;
}

.portfolio-nav-container {
    display: flex;
    gap: 9px;
    justify-content: center;
}

.nav-button {
    border-radius: 4px;
    background: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.7px;
    text-align: center;
    cursor: pointer;
    padding: 6px 25px;
    outline: none;
    border: none;
    transition: ease 1s all;
}

.nav-button.active {
    background: #2196F3;
    color: #fff;
}

.nav-button:hover {
    background: #2196F3;
    color: #fff;
    opacity: 0.6;
}

.portfolio-cards {
    margin-bottom: 100px;
}

.portfolio-cards-container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.portfolio-card {
    width: 368px;
    border: 1px solid #EEEEEE;
}

.portfolio-card:hover .portfolio-card-abs {
    display: block;
}

.portfolio-card:hover {
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-card-img {
    position: relative;
}

.portfolio-card-img img {
    width: 100%;
    height: auto;
}

.portfolio-card-abs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(33, 150, 243, 0.9);
    padding: 65px 23px;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    display: none;

}


.portfolio-card-details {
    padding: 22px 23px 18px;
}

.portfolio-card h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin: 0 0 4px;
}

.portfolio-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}

/* Footer */

.footer {
    padding: 60px 0;
    background: #2F303A;
    font-size: 14px;

}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-address {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    gap: 9px;
    line-height: 20px;
    color: #fff;
    letter-spacing: 0;
}

.footer-address p {
    color: #fff;
}

.footer-address a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-address a:hover {
    color: #2196F3;
}

html, body {
    scroll-behavior: smooth;
}